:root {
    --primary-color: #4722B6;
    --secondary-color: #36687F;
    --accent1-color: #26AF48;
    --accent2-color: #15F511;
    --heading-font: Arial, sans-serif;
    --body-font: Verdana, sans-serif;
    /* --body-font: Merriweather, serif; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    /* border: 1px solid darkgreen */
}

header,
main,
footer {
    width: 900px;
    /* width: 1200px; */
    /* width: 100%; */
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
   
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 25% 1fr;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rgb(228, 21, 21); */

}

header img {
    width: 200px;
    /* height: auto; */
    /* border: 5px solid green; */


}

/* #navDiv { */
nav ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-evenly;
    /* align-items: center; */
    /* border: 1px solid rgb(70, 167, 78); */
    margin: 0 auto;
}

nav li {
    list-style: none;
    display: grid;
    flex: 1 1 auto;
}

nav li a {
    flex: 1 1 auto;
    color: var(--accent2-color);
    text-decoration: none;
    padding: 2px 25px;
    font-weight: bold;
    /* border: 1px solid white; */

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
    padding: 1px;
    margin: 1px;
}

.hero {
    position: relative;
    /*Allows for absolute positioning of child elements*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

}

.hero img {
   
    display: block;
    width: 100%;
    height: auto;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* Ensures text is readable against the background */
}

.hero article {
    position: absolute;
    grid-column: 2 / span 10;
    grid-row: 5 / span 6;
    opacity: 0.7;
    /* top: 80px; */
    /* left: 0px; */
    background-color: rgb(153, 224, 20);
    width: 100%;
    color: rgb(13, 32, 197);
    margin: auto 0;

}

.hero article img {
    float: right;
    width: 125px;
    /* width: 17%; */
    
}

#historySection {

    margin: 0;
    padding: 0;
    width: 100%;
    /* max-width: 1200px; */
    margin: 20px auto;
    box-sizing: border-box;
    /* border: 2px solid rgb(21, 255, 0); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    
}

#historySection div {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    color: var(--primary-color);
    height: 100%;
    /* margin: 0 auto;  */
}

#historySection div h2 {
    font-size: 2.5em;
    margin-top: 28px;
}

#leftParagraph {
    flex: 0 1 auto;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding: 10px;
    color: var(--secondary-color);
    /* height: 100%; */
}

#rightParagraph {
    flex: 0 1 auto;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    padding: 10px;
    color: var(--secondary-color);
    /* margin: auto; */
    /* height: 100%; */
}

#historySection img {
    width: 25%;
    height: auto;
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    /* padding-top: 15px; */
    /* margin-top: 0px;   */
    margin: auto;
    /* margin: 0 auto; */

}

#photoSection {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* gap: 10px; */

    /* height: 300px; */
    /*temporary to be deleted soon....*/
}

#photoSection h2 {
    margin: 0;
    padding-top: 30px;
    /* border: 1px solid red; */
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    /* border: 5px solid yellow; */
}

.photoDiv figure {

    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.photoDiv figure img {
    width: 85%;
    height: auto;
    object-fit: contain;
    display: inline-block;
    margin: 0 auto;
}

.photoDiv figcaption {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.25rem;
    width: 100%;
    display: block;
}

#photoDiv1 {
    /* border: 2px dashed blue; */
    flex: 0 1 auto;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    width: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
}

#photoDiv2 {
    /* border: 2px dashed blue; */
    flex: 0 1 auto;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    width: 100%;
    /* overflow: hidden; */
}

#photoDiv3 {
    /* border: 2px dashed blue; */
    flex: 0 1 auto;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    width: 100%;
    /* overflow: hidden; */
}

#photoDiv4 {
    /* border: 2px dashed blue; */
    flex: 0 1 auto;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    width: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
}

#photoDiv5 {
    /* border: 2px dashed blue; */
    flex: 0 1 auto;
    grid-column: 5 / 6;
    grid-row: 2 / 4;
    width: 100%;
    /* overflow: hidden; */
}
footer { 
    border: 1px solid brown;
}
.footerDiv {
    display: flex;
    align-items: center;
    position: relative;
}
.footerDiv p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.footerDiv nav {
    margin-left: auto;
}
